<nav class="navbar-expand-lg navbar navbar-dark bg-dark p-3 fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">My-Gallery</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav me-auto mb-3 mb-lg-0">

      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" #text aria-label="Search"  (keydown.enter)="searchByQuery(text.value)" required>
        <button class="btn btn-success" type="button" (click)="searchByQuery(text.value)">Search</button>
      </form>
    </div>
  </div>
</nav>